<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.android.flashcard">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        tools:replace="android:icon,android:theme"
        android:icon="@mipmap/ic_launchers"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CollectionsActivity"
            android:label="@string/title_activity_collections"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.android.flashcard.MainActivity" />
        </activity>
        <activity
            android:name=".SingleCollectionActivity"
            android:label="@string/title_activity_single_collection"
            android:theme="@style/AppTheme.NoActionBar">
            <!--<meta-data-->
                <!--android:name="android.support.PARENT_ACTIVITY"-->
                <!--android:value=".CollectionsActivity" />-->
        </activity>
        <activity
            android:name=".CardActivity"
            android:label="@string/title_activity_card"
            android:theme="@style/AppTheme.NoActionBar">
            <!--<meta-data-->
                <!--android:name="android.support.PARENT_ACTIVITY"-->
                <!--android:value="com.example.android.flashcard.SingleCollectionActivity" />-->
        </activity>
        <activity
            android:name=".CardCheckActivity"
            android:label="@string/title_activity_card_check"
            android:theme="@style/AppTheme.NoActionBar">
            <!--<meta-data-->
                <!--android:name="android.support.PARENT_ACTIVITY"-->
                <!--android:value="com.example.android.flashcard.SingleCollectionActivity" />-->
        </activity>
        <activity
            android:name=".ReviewCollectionActivity"
            android:label="@string/title_activity_review_collection"
            android:theme="@style/AppTheme.NoActionBar">
            <!--<meta-data-->
                <!--android:name="android.support.PARENT_ACTIVITY"-->
                <!--android:value="com.example.android.flashcard.MainActivity" />-->
        </activity>
        <activity
            android:name=".ReviewActivity"
            android:label="@string/title_activity_review"
            android:theme="@style/AppTheme.NoActionBar">
            <!--<meta-data-->
                <!--android:name="android.support.PARENT_ACTIVITY"-->
                <!--android:value="com.example.android.flashcard.ReviewCollectionActivity" />-->
        </activity>
        <activity
            android:name=".SoundAnalyzer"
            android:label="@string/title_activity_sound_analyzer"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>